<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jacklin.myshop.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="com.jacklin.myshop.entity.Order">
        <id column="id" property="id"/>
        <result column="amount" property="amount"/>
        <result column="status" property="status"/>
        <result column="orderdate" property="orderdate"/>

        <!--关联关系-->
        <association property="user_id" javaType="com.jacklin.myshop.entity.User">
            <id property="id" column="id"/>
            <result property="username" column="username"/>
            <result property="password" column="password"/>
            <result property="email" column="email"/>
            <result property="address" column="address"/>
            <result property="name" column="name"/>
            <result property="phone" column="phone"/>
        </association>
    </resultMap>
    <delete id="deleteByPrimaryKey">
    delete from `tb_order`
    where id = #{id}
  </delete>
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into `tb_order` (user_id, amount, status, orderdate)
    values (#{user_id.id}, #{amount}, #{status}, #{orderdate})
  </insert>
    <update id="updateByPrimaryKey">
    update `tb_order`
    set user_id = #{user_id.id},
      amount = #{amount},
      status = #{status},
      orderdate = #{orderdate}
    where id = #{id}
  </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
   SELECT
	o.id,
	o.user_id,
	o.amount,
	o.`status`,
	o.orderdate,
	u.username AS username
FROM
	tb_order o
	JOIN tb_user u ON o.user_id = u.id
    where o.id = #{id}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
     SELECT
	o.id,
	o.user_id,
	o.amount,
	o.`status`,
	o.orderdate,
	u.username AS username
FROM
	tb_order o
	JOIN tb_user u ON o.user_id = u.id
  </select>
    <select id="count" resultType="int">
    select count(*) from  tb_user
   </select>
</mapper>