<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jacklin.myshop.mapper.OrderDetailMapper">
    <resultMap id="BaseResultMap" type="com.jacklin.myshop.entity.OrderDetail">
        <id column="id" property="id"/>
        <result column="shoppingnum" property="shoppingnum"/>
        <association property="goods_id" javaType="com.jacklin.myshop.entity.Goods">
            <id property="id" column="id"/>
            <result property="gname" column="gname"/>
            <result property="goprice" column="goprice"/>
            <result property="gpicture" column="gpicture"/>
            <result property="gstore" column="gstore"/>
            <result property="iputTime" column="iput_time"/>
        </association>
        <association property="order_id" javaType="com.jacklin.myshop.entity.Order">
            <id property="id" column="id"/>
            <result property="amount" column="amount"/>
            <result property="orderdate" column="orderdate"/>
            <result property="status" column="status"/>
        </association>
    </resultMap>
    <delete id="deleteByPrimaryKey">
    delete from `tb_orderdetail`
    where id = #{id}
  </delete>
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into `tb_orderdetail` (order_id, goods_id, shoppingnum)
    values (#{order_id.id}, #{goods_id}, #{shoppingnum})
  </insert>
    <update id="updateByPrimaryKey">
    update `tb_orderdetail`
    set order_id = #{order_id.id},
      goods_id = #{goods_id.id},
      shoppingnum = #{shoppingnum}
    where id = #{id}
  </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
   SELECT
	od.id,od.order_id as orderId,od.goods_id as goodsId ,od.shoppingnum,
	g.gname,o.amount,o.`status`,o.orderdate
FROM
	tb_orderdetail od
	JOIN tb_order o ON od.order_id=o.id JOIN tb_goods g ON od.goods_id=g.id
    where od.id = #{id}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    SELECT
	od.id,od.order_id as orderId,od.goods_id as goodsId ,od.shoppingnum,
	g.gname,o.amount,o.`status`,o.orderdate
FROM
	tb_orderdetail od
	JOIN tb_order o ON od.order_id=o.id JOIN tb_goods g ON od.goods_id=g.id
  </select>
    <delete id="deleteByOrderId">
        delete from `tb_orderdetail`
    where order_id = #{id}
    </delete>

</mapper>